# Compiled Object files
*.slo
*.lo
*.o
*.obj
*_generated.*

port/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
share/
/share
/back
*~

generated/
non-templated/
templated-auto/
templates.manual/

build-*/

